In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = pd.read_csv('pel25.csv')
dframe

   u  v  w  x    durian
0  3  4  5  6  rambutan
1  b  j  c  d    kucing
2  6  2  4  8     buaya

In [3]:
dframe = pd.read_csv('pel25.csv',header = None)
dframe

   0  1  2  3         4
0  u  v  w  x    durian
1  3  4  5  6  rambutan
2  b  j  c  d    kucing
3  6  2  4  8     buaya

In [4]:
pd.read_csv('pel25.csv',header=None,nrows=2)

   0  1  2  3         4
0  u  v  w  x    durian
1  3  4  5  6  rambutan

In [5]:
dframe

   0  1  2  3         4
0  u  v  w  x    durian
1  3  4  5  6  rambutan
2  b  j  c  d    kucing
3  6  2  4  8     buaya

In [6]:
dframe.to_csv('mytextdata_out.csv')

In [7]:
import sys

In [8]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,u,v,w,x,durian
1,3,4,5,6,rambutan
2,b,j,c,d,kucing
3,6,2,4,8,buaya

In [9]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_u_v_w_x_durian
1_3_4_5_6_rambutan
2_b_j_c_d_kucing
3_6_2_4_8_buaya

In [10]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?u?v?w?x?durian
1?3?4?5?6?rambutan
2?b?j?c?d?kucing
3?6?2?4?8?buaya

In [11]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,u,v,w
1,3,4,5
2,b,j,c
3,6,2,4

In [12]:
url = 'https://docs.python.org/2/library/csv.html'