In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
json_obj = """
{   "kb_hewan": "Singa",
    "makanan": ["Daging", "Sayur", "Madu"],
    "bulu": "Emas",
    "pakaian": null,
    "diet": [{"kb_hewan": "Rusa", "makanan":"rumput", "bulu": "Coklat"}]
}
"""

In [3]:
import json

In [4]:
data = json.loads(json_obj)
data

{u'bulu': u'Emas',
 u'diet': [{u'bulu': u'Coklat', u'kb_hewan': u'Rusa', u'makanan': u'rumput'}],
 u'kb_hewan': u'Singa',
 u'makanan': [u'Daging', u'Sayur', u'Madu'],
 u'pakaian': None}

In [5]:
json.dumps(data)

'{"makanan": ["Daging", "Sayur", "Madu"], "pakaian": null, "diet": [{"makanan": "rumput", "bulu": "Coklat", "kb_hewan": "Rusa"}], "bulu": "Emas", "kb_hewan": "Singa"}'

In [6]:
dframe = DataFrame(data['diet'])
dframe

     bulu kb_hewan makanan
0  Coklat     Rusa  rumput