In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
xlsfile = pd.ExcelFile('Pivoting.xlsx')

In [4]:
df = xlsfile.parse('Lembar1')
df

    Unnamed: 0       data variabel     nilai
0            0 2000-01-03        A  0.763512
1            1 2000-01-04        A  0.761521
2            2 2000-01-05        A  0.874657
3            3 2000-01-03        B  0.384764
4            4 2000-01-04        B  0.464674
5            5 2000-01-05        B  0.847587
6            6 2000-01-03        C  0.873246
7            7 2000-01-04        C  0.222437
8            8 2000-01-05        C  0.123589
9            9 2000-01-03        D  0.987325
10          10 2000-01-04        D  0.124316
11          11 2000-01-05        D  0.235727

In [6]:
df_piv = df.pivot('data','variabel','nilai')

In [7]:
df_piv

variabel           A         B         C         D
data
2000-01-03  0.763512  0.384764  0.873246  0.987325
2000-01-04  0.761521  0.464674  0.222437  0.124316
2000-01-05  0.874657  0.847587  0.123589  0.235727

In [8]:
url = 'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html'