In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame(np.arange(12).reshape(3,4),
              index = ['PAS','MLG','SBY'],
              columns = ['A','B','C','D'])
df

     A  B   C   D
PAS  0  1   2   3
MLG  4  5   6   7
SBY  8  9  10  11

In [3]:
df.index.map(str.lower)

Index([u'pas', u'mlg', u'sby'], dtype='object')

In [4]:
df.index = df.index.map(str.lower)
df

     A  B   C   D
pas  0  1   2   3
mlg  4  5   6   7
sby  8  9  10  11

In [5]:
df.rename(index=str.title,columns=str.lower)

     a  b   c   d
Pas  0  1   2   3
Mlg  4  5   6   7
Sby  8  9  10  11

In [6]:
df.rename(index={'pas':'PASURUAN'},
         columns={'A':'ALPHA'})

          ALPHA  B   C   D
PASURUAN      0  1   2   3
mlg           4  5   6   7
sby           8  9  10  11

In [7]:
df

     A  B   C   D
pas  0  1   2   3
mlg  4  5   6   7
sby  8  9  10  11

In [8]:
df.rename(index={'pas':'PASURUAN'},inplace=True)
df

          A  B   C   D
PASURUAN  0  1   2   3
mlg       4  5   6   7
sby       8  9  10  11