In [1]:
import pandas as pd

In [3]:
from StringIO import StringIO

In [4]:
data="""\
Sampel Hewan Kecerdasan
1. Anjing Pintar
2. Anjing Pintar
3. Kucing Pintar
4. Kucing Bodoh
5. Kucing Bodoh
6. Anjing Bodoh"""

In [5]:
df = pd.read_csv(StringIO(data),sep='\s+')

In [6]:
df

   Sampel   Hewan Kecerdasan
0     1.0  Anjing     Pintar
1     2.0  Anjing     Pintar
2     3.0  Kucing     Pintar
3     4.0  Kucing      Bodoh
4     5.0  Kucing      Bodoh
5     6.0  Anjing      Bodoh

In [7]:
pd.crosstab(df.Hewan,df.Kecerdasan,margins=True)

Kecerdasan  Bodoh  Pintar  All
Hewan
Anjing          1       2    3
Kucing          2       1    3
All             3       3    6